@use 'variables' as v; 


@mixin heading($color: blue) {
    text-transform: uppercase;
    font-size: 2.4rem;
    color: $color;
    letter-spacing: 1px; //separación de pixeles
}


@mixin phone {
    @media (min-width: v.$phone) {
        @content; //para que compile, bloque
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content; //para que compile, bloque
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content; //para que compile, bloque
    }
}



